body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
    background: #064273 no-repeat center/ cover;
}
.main{
    width: 350px;
    height: 600px;
    background: #064273;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
}
#chk{
    display: none;
}
.signup{
    display: flex;
    position: relative;
    width:100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #064273;
    color: #fff;
}
label{
    color: #fff;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}
input{
    width: 60%;
    height: 20px;
    background: #e0dede;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}


.login{
    height: 460px;
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}
.login label{
    color: #064273;

}
.sla:hover{
    color: #064273;
    background-color: #fff;
}
#incorreto{
    color: red;
    text-align: center;
}
.menu-container {
    position: relative; /* Necessário para posicionar a lista */
    display: inline-block;
}

/* Estilo do botão */
.menu-button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

/* Estilo da lista oculta inicialmente */
.menu-list {
    display: none;
    position: absolute;
    top: 100%; /* A lista aparece abaixo do botão */
    left: 0;
    background-color: white;
    border: 1px solid #ddd;
    width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
    z-index: 1;
}

/* Estilo dos itens da lista */
.menu-list button {
    background-color: white;
    color: black;
    border: none;
    width: 100%;
    padding: 10px;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
}

/* Efeito hover nos itens da lista */
.menu-list button:hover {
    background-color: #f1f1f1;
}

/* Exibe a lista quando o mouse passa sobre o container */
.menu-container:hover .menu-list {
    display: block;
}

p{
    display: flex;
    font-size: 23px;
    justify-content: center;
    align-items: center;
}